{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container">
    <br><br>
<a href="{{ path('app_categorie_new') }}"><button class="btn btn-light" style="background-color:#BACD92"><i class="fa fa-plus"></i></button></a><br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Slug</th>
                <th>Descripton</th>
                <th>actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.libelle }}</td>
                <td>{{ category.slug }}</td>
                <td>{{ category.descripton }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': category.id}) }}"><button class="btn btn-light" style="background-color : #6DC5D1;color:black"><i class="fas fa-eye"></i></button></a></td>
                    <td><a href="{{ path('app_categorie_edit', {'id': category.id}) }}"><button class="btn btn-light" style="background-color : #FFB1B1;color:black"><i class="fas fa-edit"></i></button></a></td>
                    
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </div>
{% endblock %}
